/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "tailwindcss";

@theme {
	--color-text-black: #181010;
	--color-line: #181010;
	--color-primary: #f7b58c;
	--color-accent: #84739c;
	--color-surface: #ffefff;

	--font-stardust: "PF-stardust";
	--font-stardust-b: "PF-stardust-bold";
	--font-stardust-eb: "PF-stardust-extra-bold";
	--font-atkinson: "Atkinson";
}

.theme-sgb {
	--color-line: #181010;
	--color-primary: #f7b58c;
	--color-accent: #84739c;
	--color-surface: #ffefff;
}

.sgb-window {
	position: relative;
	border: 3px solid var(--color-line);
	border-radius: 8px;
	outline: 2px solid var(--color-line);
	outline-offset: -6px;
}

.sgb-window::before {
	content: '';
	position: absolute;
	width: calc(100% - 4px);
	top: 2px;
	left: 2px;
	right: 6px;
	height: 6px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 80%, transparent);
	border-radius: 2px;
	z-index: 1;
	pointer-events: none;
	clip-path: inset(0 0 0 0 round 12px 12px 0 0);
}

.sgb-window::after {}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PF-stardust';
	src: url('/fonts/PF-stardust.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PF-stardust';
	src: url('/fonts/PF-stardust-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PF-stardust';
	src: url('/fonts/PF-stardust-extrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #bbb;
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #bbb transparent;
}

body {
	font-family: "PF-stardust", sans-serif;
	margin: 0;
	height: 100vh;
	padding-top: 72px;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--accent);
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
	white-space: pre-wrap;
	word-break: break-word;
	overflow-wrap: break-word;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}