---
import Layout from '../layouts/About.astro';
---

<Layout title="CV" description="Curriculum Vitae and Experience – Hyungyu Choi">
	<p>
		<strong>Education</strong><br />
		- Bachelor, Mechanical Engineering, Seoul National University <span style="color:#888"
			>(2016–2021)</span
		><br />
		- Minor in Integrated Creative Design <span style="color:#888"></span><br />
	</p>

	<p>
		<strong>Courses</strong><br />
		- SSAFY (Samsung Software Academy for Youth), Web Development Course <span style="color:#888"
			>(2021-2022)</span
		> Completed<br />
		- Krafton Jungle Game TechLab <span style="color:#888">(2025)</span> Completed<br />
	</p>

	<p>
		<strong>Work Experience</strong><br />
		<em>Engine Programmer @ Redbrick</em>
		<span style="color:#888">(2022–2024)</span><br />
		- Developed 3D web game editor(Redbrick Engine) with Three.js<br />
		- Improved rendering performance to achieve 60fps+ on most projects<br />
		- Participated in building the multiplayer model<br />
		- Produced game/user guide/tutorial content<br /><br />

		<em>Frontend Engineer @ PlayConnect</em>
		<span style="color:#888">(2024–2025)</span><br />
		- Built game community service(ZEAT) frontend (web/webview)<br />
		- Built Telegram web app version of service<br />
		- Integrated game and web service<br />
	</p>

	<p>
		<strong>Projects</strong><br />
		- <a
			href="https://www.fab.com/listings/cd4300cf-b528-4fc4-bb5f-5f2b49290672"
			target="_blank"
			class="text-blue-600 underline hover:text-blue-900 font-medium transition"
		>
			Advanced Formation System
		</a> (Unreal Engine Marketplace plugin)<br />
		- <a
			href="https://github.com/choux-croquant/GTL_W13_T3"
			target="_blank"
			class="text-blue-600 underline hover:text-blue-900 font-medium transition"
		>
			DirectX11 Custom Game engine
		</a><br />
	</p>

	<p>
		<strong>Contact</strong><br />
		Email: <a href="mailto:choifrance@gmail.com">choifrance@gmail.com</a>
	</p>

	<p>
		<strong>Languages</strong><br />
		Korean / English / Japanese
	</p>
</Layout>
