---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header
	class="fixed top-0 left-0 w-full h-[72px] z-50 bg-white shadow-[0_2px_8px_rgba(0,0,0,0.05)] px-4"
>
	<nav class="flex items-center justify-between">
		<p class="site-title m-0 text-base w-60"><a href="/">{SITE_TITLE}</a></p>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links w-60">
			<a href="https://github.com/choux-croquant" target="_blank" rel="noopener noreferrer">
				<span class="sr-only">Go to choux-croquant's GitHub repo</span>
				<img
					src="/logos/github.svg"
					alt="GitHub logo"
					width={32}
					height={32}
					aria-hidden="true"
					draggable="false"
				/>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
		justify-content: end;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
		.internal-links {
			display: flex;
			justify-content: center;
			width: 100%;
		}
		.site-title {
			display: none;
		}
	}
</style>
